// ======================== //

.main-nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 10px 5%;
    width: 100%;
    height: 90px;
    max-height: 0;
    background-color: #fff;
    transition: max-height 0.25s ease-in-out;

    @media screen and (max-width: 960px) {
        top: 50px;
    }

    &.expanded {
        height: auto;
        max-height: 1000px;
        transition: max-height 0.25s ease-in-out;
    }

    @media screen and (max-width: 768px) {
        display: none;
        padding: 10px 10%;
        height: auto;
        max-height: 1000px;

        &.open {
            display: inline-block;
        }
    }

    .inner-container {
        padding-top: 20px;
        margin-left: 265px;
        height: auto;
        width: calc(100% - 565px);


        @media screen and (max-width: 1200px) {
            margin-left: 245px
        }

        @media screen and (max-width: 1036px) {
            margin-left: 230px;
        }

        @media screen and (max-width: 960px) {
            margin-left: 0;
        }

        @media screen and (max-width: 768px) {
            padding-top: 40px;
            margin: 0;
            width: 100%;
        }

    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;
        }
        &.primary {
            position: relative;
            display: flex;
            top: 0;
            width: 100%;
            z-index: 1;

            @media screen and (max-width: 768px) {
                justify-content: space-between;
                flex-wrap: wrap;
            }

            li {
                justify-content: flex-start;
                margin: 0 15px;
                top: 0;
                width: 100px;

                &.wide {
                    width: 156px;

                    @media screen and (max-width: 768px) {
                        width: 50%;
                    }

                    @media screen and (max-width: 450px) {
                        width: 100%;
                    }
                }

                &:first-child {
                    margin-left: 0;
                }

                @media screen and (max-width: 1036px) {
                    margin: 0 5px;
                }

                @media screen and (max-width: 768px) {
                    margin: 0;
                    width: 50%;
                }

                @media screen and (max-width: 450px) {
                    width: 100%;
                }

                a, a:visited {
                    &.top-level-link {
                        display: inline-block;
                        font-weight: 500;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $greyish-brown;
                        padding: 5px;

                        &:first-child {
                            @media screen and (max-width: 960px) {
                                margin-left: -5px;
                            }
                        }
                    }
                }
                a.active {
                    color: $avocado;
                }

                ul {
                    &.secondary {
                        position: relative;
                        padding-left: 5px;
                        padding-bottom: 10px;
                        margin-top: 18px;
                        width: 300px;
                        height: 0;
                        max-height: 0;
                        opacity: 0;
                        transition: max-height 0.25s ease-in-out;
                        transition: opacity 0.25s ease-in;
                        overflow: hidden;

                        li {
                            margin: 0;
                            width: auto;

                            a {
                                padding-top: 3px;
                                padding-bottom: 3px;
                                font-size: $small-font-size;
                                line-height: 1.25;
                                color: #fff;
                            }
                        }

                        @media screen and (max-width: 768px) {
                            display: inline-block;
                            padding: 0 25px 0 0;
                            margin-bottom: 32px;
                            height: auto;
                            width: 100%;
                            max-height: 1000px;
                            opacity: 1;
                            overflow: visible;
                            transition: opacity 0;

                            li {
                                a {
                                    display: block;
                                    color: $dark-grey;
                                }
                            }
                        }

                        @media screen and (max-width: 450px) {
                            padding: 0;
                            margin-top: 0;
                            margin-bottom: 24px;
                        }
                    }
                }

                span {
                    &.secondary-placeholder {
                        display: block;
                        padding-left: 5px;
                        padding-bottom: 10px;
                        margin-top: 18px;
                        width: 300px;
                        height: 0;
                        max-height: 0;
                        overflow: hidden;
                    }
                }

                // open menu
                &.open {
                    ul {
                        &.secondary {
                            display: inline-block;
                            height: auto;
                            max-height: 1000px;
                            opacity: 1;
                            overflow: visible;
                            transition: opacity 0;

                            li {
                                a {
                                    color: $dark-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
a.nav-icon {
    display: none;

    .icon {
        svg {
            height: 100%;
            path {
                opacity: 1;
                transition: all ease 150ms;
            }
        }
    }

    &.open {
        .icon {
            svg {
                path {
                    &.middle { opacity: 0; }
                    &.top {
                        transform: rotate(45deg);
                        transform-origin: 2px 4px;
                    }
                    &.bottom {
                        transform: rotate(-45deg);
                        transform-origin: 2.5px 10.5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    a.nav-icon {
        position: absolute;
        display: inline-block;
        top: 32px;
        right: 10%;
        width: 28px;
        height: 28px;
        font-size: 36px;
        color: $dark-grey;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }

        .text { display: none; }
        .icon {
            svg {
                path {
                    fill: $dark-grey;
                }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .main-nav {
        &.collapsed {
            right: calc(10% - 16px);
        }
    }
    a.nav-icon {
        top: 36px;
        width: 18px;
        height: 18px;
        right: 10%;
        font-size: 24px;
    }
}

.site {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.site-header {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;

    @media screen and (min-width: 769px) and (max-width: 960px) {
        align-items: flex-start;
        height: 130px;
    }

    @media screen and (max-width: 768px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    .top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 90px;
    }
    
    h1 {
        position: relative;
        margin: 0 40px 0 0;
        z-index: 1;

        @media screen and (min-width: 769px) and (max-width: 960px) {
            flex-basis: 100%;
            margin: 30px 0 5px 0;
        }

        @media screen and (max-width: 450px) {
            margin-right: 0;
            margin-left: 10%;
        }

        a {
            display: block;
            .text {
                display: none;
            }
            .logo {
                display: block;
                width: 200px;

                @media screen and (max-width: 450px) {
                    width: 142px;
                }

                svg {
                    .grey { fill: $dark-grey; }
                    .green { fill: $avocado; }
                }
            }
        }
    }
    .cta {
        position: relative;
        margin-left: auto; // "floats" div to the right
        background-color: $avocado;
        color: #fff;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        padding: 0 15px;
        cursor: pointer;
        z-index: 2;

        @media screen and (max-width: 960px) {
            margin-top: 18px
        }

        @media screen and (max-width: 768px) {
            display: none;
        }

        .wide {
            @media screen and (min-width: 961px) and (max-width: 1300px) {
                display: none;
            }
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .site-header {
        width: 100%;
        padding: 0;
        justify-content: space-between;

        >a { flex-basis: 50%; }
        img { width: 100%; margin-left: 5vw;}
    }
}
.site-footer {
    background-color: $dark-grey;
    color: #fff;
    height: 367px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding: 0 5%;

    @media screen and (max-width: 768px) {
        padding: 10%;
        height: auto;
    }

    h3 {
        flex: 0 1 100%;
        margin: 0 0 64px 0;

        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
        }

        .text {
            display: block;
            @include hide-text;
        }
        .icon {
            display: block;
            width: 38px;

            @media screen and (max-width: 450px) {
                width: 24px;
            }

            svg {
                path {
                    &.base { fill: $avocado; }
                    &.top { fill: #fbfbfb; }
                }
            }
        }
    }

    #quick_links, #customer_care {
        display: flex;
        flex-flow: column;
        flex: 1 0 20%;
        max-width: 250px;
        font-size: $small-font-size;
        line-height: 1.75;
        a { color: #fff; }

        @media screen and (max-width: 768px) {
            flex-basis: 100%;
            margin-bottom: 24px;
            max-width: 768px;

            h4 {
                margin-bottom: 12px;
                width: 80%;
                border-bottom: 1px solid $off-white;
            }
        }

        @media screen and (max-width: 450px) {
            font-size: 12px;

            h4 {
                margin-bottom: 8px;
                font-size: 12px;
            }
        }
    }
    #social {
        margin-left: auto; // "floats" div to the right
        flex-basis: 50%;
        justify-content: flex-end;
        display: flex;
        flex-flow: row wrap;
        max-width: 500px;

        @media screen and (max-width: 768px) {
            flex-basis: 100%;
            justify-content: center;
            max-width: 768px;
            margin-top: 10vw;
        }

        #contact {
            width: 100%;
            max-width: 500px;
            height: 40px;
            flex-basis: 100%;
            border-bottom: 2px solid $off-white;

            @include placeholder-text($off-white, 400);

            @media screen and (max-width: 768px) {
                margin-bottom: 48px;
                max-width: 100%;
            }

            @media screen and (max-width: 450px) {
                margin-bottom: 36px;
                height: 23px;
                font-size: 12px;
                border-bottom-width: 1px;
            }

            input {
                padding: 0 20px 0 20px;
                height: 38px;
                width: calc(100% - 110px);
                color: #fff;
                background-color: $dark-grey;
                border: 0;

                @media screen and (max-width: 768px) {
                    padding-left: 0;
                }
                @media screen and (max-width: 450px) {
                    width: calc(100% - 90px);
                    height: 22px;
                }
            }
            button {
                padding: 0 20px 0 20px;
                width: 110px;
                height: 38px;
                color: $dark-grey;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                border: 0;
                background-color: $off-white;

                @media screen and (max-width: 450px) {
                    width: 90px;
                    height: 22px;
                }
            }
        }

        #social_links {
            a {
                margin: 10px;
                margin-left: 24px;
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;
                }

                .text {
                    display: none;
                }
                .icon {
                    display: inline-block;
                    width: 18px;
                    svg {
                        path {
                            fill: #fbfbfb;
                        }
                    }
                }
            }
        }
    }
}

.site > section {
    padding: 6vw;

    @media all and (min-width: 1441px) {
        padding: 90px;
    }
}


.site > .cta {
    display: block;
    width: 100%;

    .cta-inner {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        padding: 20px 12vw 20px 12vw;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        
        @media screen and (min-width: 1441px) {
            padding: 20px 175px 20px 175px;
            max-width: 1440px;
        }

        @media screen and (max-width: 1140px) {
            padding: 20px 5vw 20px 5vw;
        }

        @media screen and (max-width: 930px) {
            align-items: center;
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            padding: 8vw;
        }
    }

    
    >div {
        flex-basis: 70%;
        @media screen and (max-width: 930px) {
            flex-basis: 100%;
        }
    }
    h3 {
        margin: 0;
        font-size: 32px;
        letter-spacing: 0.3px;
        line-height: 140%;

        @media screen and (max-width: 1140px) {
            font-size: 28px;
            letter-spacing: 0.2px;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
            letter-spacing: 0px;
            font-weight: 500;
        }
    }

    h4 {
        margin: 0;
        font-size: 22px;
        line-height: 140%;

        @media screen and (max-width: 1140px) {
            font-size: 18px;
        }

        @media screen and (max-width: 768px) {
            margin-top: 12px;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .button.rounded {
        height: 36px;
        line-height: 36px;

        @media screen and (max-width: 930px) {
            margin: 0 auto;
            margin-top: 24px;
        }

        @media screen and (max-width: 768px) {
            font-size: 14px;
            width: 120px;
        }
    }

    &.cta-orange {
        background-color: $maize;
        h3 {
            color: $greyish-brown;
        }
    }
    &.cta-green {
        background-color: $avocado;

        @media screen and (max-width: 768px) {
            background-color: $maize;
        }

        h3 {
            color: #fff;

            @media screen and (max-width: 768px) {
                color: $greyish-brown;
            }
        }

    }
}

.site#treatment-programs {
    .cta {
        &.cta-green {
            padding-top: 40px;
            padding-bottom: 40px;

            .cta-text {
                width: 70%;

                @media screen and (max-width: 925px) {
                    width: 100%;
                }                
            }

            h3 {
                margin-bottom: 10px;
                font-size: 28px;
                font-weight: 500;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    letter-spacing: 0px;
                }
            }

            h4 {
                font-size: 16px;
                line-height: 175%;

                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }

            .button.rounded {
                @media screen and (max-width: 768px) {
                    padding-right: 20px;
                    padding-left: 20px;
                    width: auto;
                }
            }
        }
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    .section-content {
        max-width: 50%;
    }

    .section-text {
        align-content: center;
        justify-content: center;
        display: flex;
        flex-flow: column;
        padding: 6vw;
        width: 50%;

        .section-text-inner {
            width: 100%;
        }

        .learn-more {
            align-self: flex-end;
        }

        h2 {
            margin-top: 18px;
            margin-bottom: 28px;
            max-width: 520px;
        }

        p {
            font-weight: 500;
            max-width: 520px;
        }

        @media screen and (min-width: 1441px) {
            padding: 80px;

            .section-text-inner {
                width: 550px;
            }
        }
    }
    .section-image {
        padding-bottom: 50%;
        width: 50%;
        background-position: center center;
        background-size: cover;
    }

    .side-image {
        height: 622px;
        width: 410px;
        margin-left: 5%;
        background-position: center center;
        background-size: cover;
    }

    &.home-section:nth-child(odd) {
        .section-text-inner {
            align-self: flex-end;
        }
    }
}

@media all and (max-width: 768px) {
    section {
        h1 {
            order: -3;
        }
        h2 { order: -2; }

        .section-content, .section-text, .section-image {
            width: 100%;
            max-width: 100%;
        }
        .section-image {
            padding-bottom: percentage(293/320);
            // height: 80vw;
        }

        .section-text {
            order: -1;
        }

        .side-image {
            width: 90%;
            margin: 0 0 0 -5vw;
        }
    }
}

.page-content {
    flex-basis: 100%;

    .post-link {
        font-size: 18px;
    }
}

// =============  cards =============== //

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 350px;

    img {
        width: 100%;
    }
    h4 {
        color: $avocado;
        text-transform: uppercase;
        font-weight: 700;
        margin: 25px 0;
    }

    &-3-up {
        flex-basis: 25%;
        @media screen and (max-width: 768px) {
            flex-basis: 40%;
            margin-bottom: 5vw;
            border-bottom: 1px solid $pale-blue;
        }
        @media screen and (max-width: 450px) {
            flex-basis: 100%;
        }
    }
}

// ============ mobile hero section =========== //

.mobile-hero {
    background-size: cover;
    background-position: center right;
    width: 100%;
    height: 40vw;
    min-height: 180px;

    h2 {flex-basis: 100%;}
}
.mobile-hero-call {
    display: flex;
    width: 100%;

    div {
        flex-basis: 50%;
        background-color: $pale-blue;
        padding: 1.5vw;
        text-align: center;
    }
    div:first-child {
        border-right: 2px solid #fff;
    }

    a {
        color: $greyish-brown;
        text-transform: uppercase;
        font-weight: 500;
    }
}

// ============ homepage =========== //

section.hero {
    width: 100%;
    background-position: bottom right;
    background-size: cover;
    justify-content: flex-start;
    min-height: 44vw;

    &.plant-image {
        @media screen and (min-width: 769px) and (max-width: 1100px) {
            background-position: center center;
        }
    }

    h1 {
        margin-bottom: 28px;
    }
    h2 {
        margin-bottom: 1.75vw;
    }

    .button.rounded {
        margin-top: 3vw;
    }

    a.button.rounded {
        color: $dark-grey;
    }

    .section-content {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;

        .section-content-inner {
            width: 50%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        @media screen and (min-width: 1441px) {
            max-width: (1440px - 90 - 90);

            .section-content-inner {
                max-width: 630px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section.hero {
        background: none;
        background-image: none !important;
    }
}

section.home-section {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-basis: 100%;

    &#what_we_do {
        background-color: $off-white;
    }
    &#our_belief {
        background-color: $pale-blue;
    }
}

section.type1 {
    padding: 0;
    width: 100%;
    background-color: $off-white;

    .type1-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 60px;
        align-items: flex-start;
        width: 100%;
        max-width: 1440px;

        @media screen and (min-width: 1441px) {
            padding-left: 90px;
            padding-right: 90px;
        }
    }

    .section-text {
        padding: 0 6vw;
        padding-top: 30px;

        @media screen and (min-width: 1441px) {
            padding-left: 0;
            padding-right: 0;

            .section-text-inner {
                width: 550px;
            }
        }
    }
    .section-text-wide {
        padding: 6vw;
        padding-top: 70px;
        padding-bottom: 0;
        width: 100%;
        order: -2;

        @media screen and (min-width: 1441px) {
            padding-left: 0;
            padding-right: 0;
        }
        h1 {
            margin-bottom: 0;
        }
    }
}

// =============  about us =============== //

#who_we_are {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

// =============  services (+ staff grid layout) =============== //

#service_cards {
    align-items: flex-start;
    background-color: #fff;
}

#services_grid,
#staff_list {
    padding: 0;
    width: 100%;

    .grid-inner {
        display: block;
        padding: 30px;
        width: 100%;
        max-width: 1320px;

        @media screen and (max-width: 768px) {
            padding-top: 0;
        }

        @media screen and (max-width: 450px) {
            padding-top: 0;
            padding: 20px;
        }

        @media screen and (min-width: 769px) {
            display: grid;
            padding: 0;
            margin: 60px;
            box-sizing: border-box;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 40px;
        }

        .services-card,
        .team-bio-card {
            background-color: $pale-blue-50;
            padding: 60px;
            align-content: flex-start;


            @media screen and (max-width: 768px) {
                padding: 30px;
                margin-top: 30px;
            }

            @media screen and (max-width: 450px) {
                padding: 20px;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }

            h4 {
                margin-top: 0;
            }
            p {
                font-weight: 500;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

section#service_subfooter {
    h2 {
        font-size: 28px;
        font-weight: 500;
        line-height: 125%;
    }
}

// ============== staff ================ //

#meet_our_staff {
    background-color: $off-white;
}

#staff_list {
    width: 100%;

    .grid-inner {
        .team-bio-card {
            position: relative;
            padding: 30px 30px 60px 30px;
            width: 100%;
            background-color: $pale-blue-50;

            @media screen and (max-width: 450px) {
                padding: 20px 20px 40px 20px;
            }

            .team-bio {
                align-items: flex-start;
                justify-content: flex-start;
            }

            .team-bio-photo {
                width: 33%;
                max-width: 200px;

                @media screen and (max-width: 1024px) {
                    max-width: 100%;
                    width: 100%;
                }
                @media screen and (max-width: 768px) {
                    max-width: 200px;
                }
                @media screen and (max-width: 450px) {
                    max-width: 100%;
                }
            }
            .team-bio-text {
                h1, h4 {
                    text-transform: uppercase;
                    font-weight: 500;

                    @media screen and (max-width: 450px) {
                        font-size: $small-font-size;
                    }
                }

                h1 {
                    margin-bottom: 0;
                }

                p { display: none; }
                p.preview {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;

                    @media screen and (max-width: 450px) {
                        font-size: $small-font-size;
                    }
                }
            }

            .learn-more {
                position: absolute;
                bottom: 20px;
                right: 30px;

                @media screen and (max-width: 450px) {
                    bottom: 15px;
                    right: 20px;
                }
            }
        }
        .team-bio-text {
            flex-basis: 60%;
            @media screen and (max-width: 1024px) {
                flex-basis: 100%;
                margin-top: 5vw;
            }
        }
        .team-bio-photo {
            flex: 0 0 25%;
            margin-right: 18px;
            width: 100%;
            max-width: 200px;
        }
    }
}


// =============  contact =============== //
#contact_intro, #contact_form {
    padding: 5vw;
}

#contact_form {
    background-color: #fff;

    #mc_embed_signup {
        .button {
            background-color: $greyish-brown;
            border-radius: 0;
            float: right;
        }
    }
}

// ============ Blog ============== //
section#featured_post {
    // align-items: flex-start;
    h2 a { color: $greyish-brown; }

    
    @media screen and (max-width: 768px) {
        h2 { order: -1; }
    }
}

section.recent-posts {
    background-color: $off-white;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.blog-card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    align-content: flex-start;
    align-items: flex-start;
    margin: 2%;

    @media screen and (max-width: 768px) {
        flex-basis: 100%;
    }

    .post-image {
        width: 100%;
        height: 260px;
        background-position: top center;
        background-size: cover;
        margin-bottom: 30px;
    }
}

// ============== post ================ //
.post {
  padding-top: 60px;

  .post-title {
      font-weight: bold;
      text-align: center;
  }

  .post-meta {
      list-style: none;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;

      > * {
          padding: 4px 8px;
          margin: 5px;
      }
      .post-tag {
          background-color: $avocado;
          color: $off-white;
          border-radius: 5px;
          
      }
  }
  .post-author {
      color: $greyish-brown
  }

  .post-hero-image {
      width: 100%;
      margin: 30px auto;
      background-position: center top;
      background-size: cover;
      height: 900px;

      @media screen and (max-width: 768px) {
          height: 80vw;
      }
  }
  .post-content {
      margin-top: 50px;
      max-width: 800px;
      padding: 20px;
      margin: 0px auto;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
  }

}
