// ======================== //

nav {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
  padding: 10px;

    a, a:visited {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: $greyish-brown;
        margin: 5px 20px;
    }
    a.active {
        color: $avocado;
    }
    a.nav-icon {display: none;}    

}
@media screen and (max-width: 768px) {
    nav {
        flex-basis: 20%;
        a {
            display: none;
            font-size: 13px;
        }
        a.nav-icon {
            font-size: 36px;
            display: inline-block;
        }
        &.collapsed {
            background-color: #fff;
            flex-direction: column;
            align-self: flex-start;
            align-items: flex-end;
            z-index: 1;
            a {
                display: block;
                text-align: right;
            }
            a.nav-icon { order: -1; }
        }
    }
}

.site {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    height: 93px;
    background-color: #fff;
    
    img {
        width: 190px;
    }
    .cta {
        background-color: $avocado;
        color: #fff;
        height: 39px;
        line-height: 39px;
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
        cursor: pointer;
    }
}
@media screen and (max-width: 450px) {
    .site-header {
        width: 100%;
        padding: 0;
        justify-content: space-between;

        >a { flex-basis: 50%; }
        img { width: 100%; margin-left: 5vw;}
        .cta { display: none; }
    }
}
.site-footer {
    background-color: $dark-grey;
    color: #fff;
    height: 367px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 0 5%;

    @media screen and (max-width: 760px) {
        font-size: 60% !important;
    }

    #quick_links, #customer_care {
        display: flex;
        flex-flow: column;
        flex-basis: 20%;
        a { color: #fff; }

        @media screen and (max-width: 450px) {
            flex-basis: 50%;
        }
    }
    #social {
        flex-basis: 50%;
        justify-content: flex-end;
        display: flex;
        flex-flow: row wrap;

        @media screen and (max-width: 450px) {
            flex-basis: 100%;
            margin-top: 5vw;
        }

        #contact {
            flex-basis: 100%;
            text-align: right;
        }

        #social_links a {
            margin: 10px;
        }
    }
}

.site > section {
    padding: 10vw 5vw;
    @media all and (max-width: 768px) {
        // padding: 10vh 5vw;
    }
}


.site > .cta {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-around;
    padding: 5vw;
    
    h3 {
        font-size: 32px;
        letter-spacing: 0.3px;
    }

    h4 {
        font-size: 22px;
        font-weight: 700;
    }

    &.cta-orange {
        background-color: $maize;
        h3 {
            color: $greyish-brown;
        }
    }
    &.cta-green {
        background-color: $avocado;
        h3 {
            color: $greyish-brown;
        }
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    .section-content {
        max-width: 50%;
    }

    .section-text {
        align-content: center;
        justify-content: space-around;
        display: flex;
        flex-flow: column;
        padding: 5% 5%;
        width: 45%;

        .learn-more {
            align-self: flex-end;
        }
    }
    .section-image {
        width: 50%;
        height: 100%;
        background-position: center center;
        background-size: cover;
    }

    .side-image {
        height: 622px;
        width: 410px;
        margin-left: 5%;
        background-position: center center;
        background-size: cover;
    }
}

@media all and (max-width: 768px) {
    section {
        h1 {
            order: -3;
        }
        h2 { order: -2; }

        .section-content, .section-text, .section-image {
            width: 100%;
            max-width: 100%;
        }
        .section-image {
            height: 80vw;
        }

        .section-text {
            order: -1;
        }

        .side-image {
            width: 90%;
            margin: 0 0 0 -5vw;
        }
    }
}

.page-content {
    flex-basis: 100%;

    .post-link {
        font-size: 18px;
    }
}

// =============  cards =============== //

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 350px;

    img {
        width: 100%;
    }
    h4 {
        color: $avocado;
        text-transform: uppercase;
        font-weight: 700;
        margin: 25px 0;
    }

    &-3-up {
        flex-basis: 25%;
        @media screen and (max-width: 760px) {
            flex-basis: 40%;
            margin-bottom: 5vw;
            border-bottom: 1px solid $pale-blue;
        }
        @media screen and (max-width: 450px) {
            flex-basis: 100%;
        }
    }
}

// ============ mobile hero section =========== //

.mobile-hero {
    background-size: cover;
    background-position: center right;
    width: 100%;
    height: 10vw;

    h2 {flex-basis: 100%;}
}
.mobile-hero-call {
    display: flex;
    width: 100%;

    div {
        flex-basis: 50%;
        background-color: $pale-blue;
        padding: 1.5vw;
        text-align: center;
    }
    div:first-child {
        border-right: 2px solid #fff;
    }
}

// ============ homepage =========== //

section.hero {
  background-position: bottom right;
  background-size: cover;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
    section.hero {
        background: none;
        background-image: none !important;
    }
}

section.home-section {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-basis: 100%;

    &#our_vision {
        background-color: #fff;
    }
    &#our_belief {
        background-color: $pale-blue;
    }
}

// =============  about us =============== //

#who_we_are {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

// =============  services =============== //

#service_cards {
    align-items: flex-start;
    background-color: #fff;
}

// ============== staff ================ //

#meet_our_staff {
    background-color: $off-white;
}

#staff_list {
    background-color: #fff;
}
.team-bio-card {
    background-color: $pale-blue-50;
    flex-basis: 47%;
    margin: 0 3% 3% 0;
    padding: 1vw;
    min-height: 354px;
    min-width: 350px;

    &:nth-child(even) {
        margin-right: 0;
    }

    .team-bio {
        align-items: flex-start;
    }

    .team-bio-photo {
        width: 33%;
        min-width: 200px;
    }
    .team-bio-text {
        p { display: none; }
        p.preview {
            display: block;
            font-size: 13px;
        }
    }
    @media screen and (max-width: 760px) {
        padding: 5vw 1vw;
        min-width: 100%;
        margin: 3% 0;
    }
}
.team-bio-text {
    flex-basis: 60%;
    @media screen and (max-width: 760px) {
        flex-basis: 80%;
    }
}
.team-bio-photo {
    flex: 0 0 25%;
    margin-right: 1vw;
    max-width: 300px;
    margin-bottom: 1vw;
}


// =============  contact =============== //
#contact_intro, #contact_form {
    padding: 5vw;
}

#contact_form {
    background-color: #fff;

    #mc_embed_signup {
        .button {
            background-color: $greyish-brown;
            border-radius: 0;
            float: right;
        }
    }
}

// ============ Blog ============== //
section#featured_post {
    // align-items: flex-start;
    background-color: #fff;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.blog-card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    align-content: flex-start;
    align-items: flex-start;
    margin: 2%;

    @media screen and (max-width: 760px) {
        flex-basis: 100%;
    }

    .post-image {
        width: 100%;
        height: 260px;
        background-position: top center;
        background-size: cover;
        margin-bottom: 30px;
    }
}

// ============== post ================ //
.post {
  padding-top: 60px;

  .post-title {
      font-weight: bold;
      text-align: center;
  }

  .post-meta {
      list-style: none;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;

      > * {
          padding: 4px 8px;
          margin: 5px;
      }
      .post-tag {
          background-color: $avocado;
          color: $off-white;
          border-radius: 5px;
          
      }
  }
  .post-author {
      color: $greyish-brown
  }

  .post-hero-image {
      width: 100%;
      margin: 30px auto;
      background-position: center top;
      background-size: cover;
      height: 900px;
  }
  .post-content {
      margin-top: 50px;
      max-width: 800px;
      padding: 20px;
      margin: 0px auto;
  }

}
