h1 {
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $avocado;
}

h2 {
  font-size: 3.5vw; // 44px
  font-weight: 400;
  color: $greyish-brown;
  @media screen and (max-width: 425px) {
      font-size: 6.5vw; 
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;

  &.callout {
    font-size: 27px;
    font-weight: 500;
  }
}

h4 {
  font-size: 18px;
  font-weight: 500;

  &.green {
      color: $avocado;
      text-transform: uppercase;
  }
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

h1.small {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $avocado;
  width: 100%;

  &:after {
    content: '';
    display: block;
    border-bottom: 1px solid $avocado;
    width: 80%;
    margin-left: 20%;
    margin-top: -9px;
  }
}

h1.small-full-width {
  &::after {
    width: 90%;
    margin-left: 10%; 
  }
}

.post-content {
    font-size: 18px;
    line-height: 28px;
}