h1 {
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $avocado;
}

h2 {
  font-size: 46px;
  font-weight: 400;
  color: $greyish-brown;
  line-height: 100%;
  
  @media screen and (max-width: 1140px) {
      font-size: 36px;
  }

  @media screen and (max-width: 425px) {
      font-size: 6.5vw; 
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;

  &.callout {
    font-size: 27px;
    font-weight: 500;
  }
}

h4 {
  font-size: 18px;
  font-weight: 500;

  &.green {
      color: $avocado;
      text-transform: uppercase;
  }
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

h1.small {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $avocado;
  width: 100%;
  display: flex;

  &:after {
    content: '';
    display: flex;
    margin-left: 2%;
    align-self: center;
    flex-grow: 1;
    height: 1px;
    background-color: $avocado;
  }
}

h1.small-full-width {
  
}

.post-content {
    font-size: 18px;
    line-height: 28px;
}
