<form id="contact_form" action="https://formcarry.com/s/{{ site.formcarry_form_id }}" method="POST">
    <input type="hidden" name="_subject" value="{{ site.formcarry_email_subject }}" />
    <input type="text" name="_gotcha" style="display:none" />

    <p>
        <label for="first_name">First Name <span class="required">*</span></label>
        <input id="first_name" type="text" placeholder="Your first name" name="first_name" data-validates="presence" />
    </p>
    <p>
        <label for="last_name">Last Name</label>
        <input id="last_name" type="text" placeholder="Your last name" name="last_name" />
    </p>
    <p>
        <label for="reply_email">Email Address <span class="required">*</span></label>
        <input id="reply_email" type="email" placeholder="Your email address" name="email" data-validates="presence email" />
    </p>
    <p class="half">
        <label for="phone">Phone Number</label>
        <input id="phone" type="tel" placeholder="Your phone number" name="phone" data-validates="phone" />
    </p>
    <p>
        <label for="message">Message <span class="required">*</span></label>
        <textarea id="message" placeholder="Your message" name="message" data-validates="presence"></textarea>
    </p>
    <p>
        <a href="#send" class="button submit contact-submit">Send message</a>
        <input type="submit" value="Send" style="display:none" />
        <br />
        <span class="required">*</span> Required
    </p>
</form>
