<div class="site-footer">
    <div style="width: 100%">
        <img src="{{ '/assets/images/logo-bug.svg' }} ">
    </div>
    <div id="quick_links">
        <h4>Quick Links</h4>
        <a href="">Get Help Now</a>
        <a href="">How We Treat</a>
        <a href="">Our Technology</a>
    </div>
    <div id="customer_care">
            <h4>Customer Care</h4>
            <a href="">FAQ</a>
            <a href="">Contact Us</a>
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
        </div>
        
</div>