{% assign is_root = false %}
{% assign is_blog = false %}
{% if page.url == '/' %}
    {% assign is_root = true %}
{% endif %}
{% if page.layout == 'post' %}
    {% assign is_blog = true %}
{% endif %}
<title>
  {{ page.title }}{% if is_blog %} | Blog {% endif %}{% unless is_root %} | {{ site.title }}{% endunless %} – {{ site.seo_subtitle }}
</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/main-8aba9fde87.css" | relative_url }}">
<link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
<link rel="icon" sizes="128x128" href="{{ "/assets/images/android-icon-sm.png" | relative_url }}">
<link rel="icon" sizes="192x192" href="{{ "/assets/images/android-icon-lg.png" | relative_url }}">
<link rel="apple-touch-icon" href="{{ "/assets/images/touch-icon-iphone-sm.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/touch-icon-ipad.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="167x167" href="{{ "/assets/images/touch-icon-ipad-pro.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/touch-icon-iphone-lg.png" | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/images/pinned-tab.svg" | relative_url }}" color="#53555c">
