<nav class="main-nav" id="nav">
  <div class="inner-container">
    <ul class="primary">
      {% for item in site.data.nav.toc %}
        <li class="nav-item{% if item.url == page.url %} active{% endif %}">
          <a href="{{ item.url }}" class="top-level-link">
            {{ item.title }}
          </a>
          {% if forloop.index == 1 %}
            <ul class="secondary">
              <li><a href="#">Additional Item</a></li>
              <li><a href="#">Additional</a></li>
              <li><a href="#">Additional Item Longer Name</a></li>
              <li><a href="#">Item Short Name</a></li>
              <li><a href="#">Longer Name Should Mess Stuff Up</a></li>
            </ul>
          {% endif %}
          {% if forloop.index == 2 %}
            <ul class="secondary">
              <li><a href="#">Additional</a></li>
              <li><a href="#">Additional Item</a></li>
            </ul>
          {% endif %}
          {% if forloop.index == 4 %}
            <ul class="secondary">
              <li><a href="#">Additional</a></li>
              <li><a href="#">Additional Item Longer Name</a></li>
              <li><a href="#">Item Short Name</a></li>
              <li><a href="#">Longer Name Should Mess Stuff Up</a></li>
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
<a class="header nav-icon" id="nav_icon">
  <span class="text">
    Open Menu
  </span>
  <span class="icon">
    {% include svg/menu-toggle.svg %}
  </span>
</a>
