<nav class="main-nav" id="nav">
  <div class="inner-container">
    <ul class="primary">
      {% for item in site.data.nav.toc %}
        <li class="nav-item{% if item.url == page.url %} active{% endif %}{% if forloop.index == 3 %} no-secondary{% endif %}{% if forloop.index == 1 %} wide{% endif %}">
          <a href="{{ item.url }}" class="top-level-link">
            {{ item.title }}
          </a>
          {% if item.subitems %}
            <ul class="secondary">
                {% for subitem in item.subitems %}
                    <li><a href="{{ subitem.url }}">{{ subitem.page }}</a></li>
                {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
<a class="header nav-icon" id="nav_icon">
  <span class="text">
    Open Menu
  </span>
  <span class="icon">
    {% include svg/menu-toggle.svg %}
  </span>
</a>
