<div class="card services-card">
    <div class="card-inner">
      <h4>{{ include.card.title }}</h4>
      {{ include.card.excerpt }}
      {% if  include.card.content.size > include.card.excerpt.size %}
          <div class="hidden"><h4>{{ include.card.title }}</h4>{{ include.card.content }}</div>
      {% endif %}
    </div>
    {% if  include.card.content.size > include.card.excerpt.size %}
        <a href="{{ include.card.url }}" class="learn-more">Learn More &#x2192;</a>
    {% endif %}
</div>
