---
layout: default
---
{% if page.post_image %}
    {% assign post_image = page.post_image | remove_first: '/uploads/' | url_decode %}
{% endif %}

<section>
    <div class="post">
        <h2 class="post-title">{{ page.title }}</h2>
        <ul class="post-meta">
            {% for tag in page.tags %}
                <li class="post-tag">{{ tag }}</li>
            {% endfor %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <li class="post-date">{{ page.date | date: date_format }}</li>
        </ul>
        {% assign author = site.authors | where: 'title', page.author | first %}
        {% if author %}
        By <a class="post-author" href="{{ author.url }}">{{ page.author }}</a>
        {% endif %}
        {% if post_image %}
            <div style="background-image: url('{% asset '{{ post_image }}' @path %}')" class="post-hero-image"></div>
        {% endif %}
        <div class="post-content">
            {{ content }}
        </div>
    </div>
</section>
