---
layout: default
---

<section>
    <div class="post">
        <h2 class="post-title">{{ page.title }}</h2>
        <ul class="post-meta">
            {% for tag in page.tags %}
                <li class="post-tag">{{ tag }}</li>
            {% endfor %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <li class="post-date">{{ page.date | date: date_format }}</li>
        </ul>
        {% if page.author %}
        By <a class="post-author" href="{{ author.url }}">{{ page.author }}</a>
        {% endif %}
        
    </div>
    <div class="section-content">
        {{ content }}
    </div>
</section>