---
layout: default
---

{% include section-type2.html
    id="about_us_resources"
    h1=page.subtitle
    h2=page.title
    content=content
%}

<section class="resources-top-list">
    <div>
        <h1 class="small">Recent Blog Posts</h1>
        {% if page.collection %}
            <div id="services_grid">
                <div class="grid-inner">
                    {% assign collection = site[page.collection] | sort: 'position' %}
                    {%- for card in collection -%}
                        {% include services_card.html card=card %}
                    {%- endfor -%}
                </div>
            </div>
        {% endif %}

    </div>
</section>
