---
layout: default
---

{% assign background_image = page.background-image | remove_first: '/uploads/' | url_decode %}
{% assign section_image_1 = page.section-image-1 | remove_first: '/uploads/' | url_decode %}

{% include mobile_hero.html image=page.background-image message="Treatment that works." %}

<section id="homepage_1" class="hero" style="background-image: url('{% asset '{{ background_image }}' @path %}')">
    <div class="section-content">
      <div class="section-content-inner">
        <h1>Our Services</h1>
        <h2>{{ page.h2 }}</h2>
        <p>
            {{ page.short-content }}
        </p>
      </div>
    </div>
</section>
<section id="who_we_are">
    <h1 class="small small-full-width">{{ page.title }}</h1>
    <div class="inner-content-holder">
      <div class="section-content">
          <h2>Our Services</h2>
          <p>
              {{ content }}
          </p>
      </div>
      <div class="side-image" style="background-image: url('{% asset '{{ section_image_1 }}' @path %}')"></div>
    </div>
</section>
<section id="service_cards">
  <div class="card-grid">
    {% for card in page.service-cards %}
        {% assign card_image = card.image | remove_first: '/uploads/' | url_decode %}
        <div class="card card-3-up has-link" id="{{ card.page_slug }}">
            <div class="card-inner">
              <img src="{% asset '{{ card_image }}' @path %}" alt="{{ card.title }}">
              <h4>{{ card.title }}</h4>
              <p>{{ card.copy }}</p>
            </div>
            <a href="/services/{{ card.page_slug }}" class="learn-more">Learn More &#x2192;</a>
        </div>
    {% endfor %}
  </div>
</section>
{% include section-type2.html
    id="service_trainings"
    href="/services/trainings-for-clinicians/"
    h1="Trainings"
    h2="Trainings for Clinicians"
    content=page.trainings-content
%}
