---
layout: default
---
{% assign page_photo = page.photo | remove_first: '/uploads/' | url_decode %}
<section class="content-page tertiary">
  <header>
    <h1 class="small">{{ page.title }}</h1>
  </header>
  <article>
    {% if page_photo %}
      <div class="page-photo">
        <img src="{% asset '{{ page_photo }}' @path %}"{% if page.photo_alt %} alt="{{ page.photo_alt }}"{% endif %}>
      </div>
    {% endif %}
    <div class="tertiary-content-inner">
      {{ content }}
    </div>
  </article>
<section>
