---
layout: default
---

{% comment %}
The tertiary layout expects:
title: Opioid Overdose Prevention Program (OOPP)

And has optional attributes:
photo: staff/amy-colley@2x.jpg
photo_alt: I am alt text
photo_left: true
back_href: /services/trainings-for-clinicians
back_title: Trainings
full_title: A longer title than you want in the <title> tag

The `back_title` and `photo_alt` are not used if their respect `back_href` and `photo` are not utilized.
{% endcomment %}

{% assign content_with_phone_num = page.content | replace: '!PHONE_NUMBER!', site.phone_number %}

<section class="content-page tertiary">
  <header>
    {% if page.back_href %}
      <p class="back-link">
        <a href="{{ page.back_href }}">&#x2190; Back{% if page.back_title %} to {{ page.back_title }}{% endif %}</a>
      </p>
    {% endif %}
    <h1 class="small">{% if page.full_title %}{{ page.full_title }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  <article>
    {% if page.photo %}
      {% assign page_photo = page.photo | remove_first: '/uploads/' | url_decode %}
      <div class="page-photo{% if page.photo_left == true %} photo-left{% endif %}">
        <img src="{% asset '{{ page_photo }}' @path %}" alt="{% if page.photo_alt %}{{ page.photo_alt }}{% else %}{{ page.title }}{% endif %}">
      </div>
    {% endif %}
    <div class="tertiary-content-inner">
      {{ content_with_phone_num }}
    </div>
  </article>
<section>
