---
layout: default
---

{% include section-type2.html
    id="trainings_for_clinicians"
    h1="Our Services"
    h2="Trainings for Clinicians"
    content=""
%}

{% include section-callout.html
    h3="Call Us"
    h4="If you are interested in attending a training<br>or setting up a training at your program,<br>please call us at 212.204.8430."
    button_msg="Call Now"
    button_mobile="Call Now"
    button_href="#"
%}

<section id="services_grid">
    <div class="grid-inner">
        {% assign collection = site[page.collection] | sort: 'position' %}
        {%- for card in collection -%}
            {% include services_card.html card=card %}
        {%- endfor -%}
    </div>
</section>